In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import combinations
from scipy.stats import ttest_ind

df = pd.read_csv('stud_math.csv')

In [34]:
df.address.value_counts(dropna=False)

U      295
R       83
NaN     17
Name: address, dtype: int64

In [39]:
df['address'] = df.apply(lambda x: ('U' if x.traveltime == 1 else 'R') \
                         if pd.isna(x.address) else x.address , axis=1)

In [37]:
df.address.value_counts(dropna=False)

U    303
R     92
Name: address, dtype: int64

In [7]:
df.groupby(['address']).traveltime.mean()

address
R    1.815789
U    1.332130
Name: traveltime, dtype: float64

In [30]:
nominate

['school',
 'sex',
 'address',
 'famsize',
 'Pstatus',
 'Mjob',
 'Fjob',
 'reason',
 'guardian',
 'schoolsup',
 'famsup',
 'paid',
 'activities',
 'nursery',
 'higher',
 'internet',
 'romantic']

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 28 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sex         395 non-null    object
 1   age         395 non-null    int64
 2   address     378 non-null    object
 3   famsize     368 non-null    object
 4   Pstatus     350 non-null    object
 5   Medu        392 non-null    float64
 6   Fedu        371 non-null    float64
 7   Mjob        376 non-null    object
 8   Fjob        359 non-null    object
 9   reason      378 non-null    object
 10  guardian    364 non-null    object
 11  traveltime  367 non-null    float64
 12  studytime   388 non-null    float64
 13  failures    373 non-null    float64
 14  schoolsup   386 non-null    object
 15  famsup      356 non-null    object
 16  paid        355 non-null    object
 17  activities  381 non-null    object
 18  nursery     379 non-null    object
 19  higher      375 non-null    object
 20  internet    361 non-null    object
 21  romantic    364 non-null    object
 22  famrel      368 non-null    float64
 23  freetime    384 non-null    float64
 24  goout       387 non-null    float64
 25  health      380 non-null    float64
 26  absences    383 non-null    float64
 27  score       389 non-null    float64
dtypes: float64(11), int64(1), object(16)
memory usage: 86.5+ KB