In [17]:
import pandas as pd
dfr = pd.read_csv('ratings.csv')
dfm = pd.read_csv('movies.csv')

#### Задача 1

In [10]:
dfr.userId.count()

100836

#### Задача 2, 3

In [16]:
dfm.columns

Index(['movieId', 'title', 'genres'], dtype='object')

#### Задача 4, 5

In [14]:
dfr.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [18]:
dfm.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000