In [11]:
import pandas as pd
items_dict = {

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 

    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],

    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]

}
purchase_log = {

    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 

    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]

}
items_df = pd.DataFrame(items_dict)
purchase_df = pd.DataFrame(purchase_log)

In [12]:
purchase_df.merge(items_df, how='outer', on='item_id')

    purchase_id  item_id    price   vendor  stock_count
0         101.0   417283  13900.0  Samsung         54.0
1         101.0   849734   5330.0       LG         33.0
2         101.0   132223  38200.0    Apple        122.0
3         112.0   573943  49990.0    Apple         18.0
4         121.0    19475   9890.0       LG        102.0
5         145.0  3294095  33000.0    Apple         43.0
6         145.0   382043  67500.0  Samsung         77.0
7         145.0   302948  34500.0  Samsung        143.0
8         145.0   103845  89900.0      NaN          NaN
9         221.0   100132  11400.0       LG         60.0
10          NaN   312394      NaN      ZTE         19.0

#### Задание 3

In [15]:
merged = purchase_df.merge(items_df, how='inner', on='item_id')

In [18]:
merged.item_id.count()

9

#### Задание 4

In [35]:
sale = items_df.merge(purchase_df, on='item_id', how='left')

sale['revenge'] = sale['price'] * sale ['stock_count']

sale[sale['revenge'] == sale['revenge'].max()]

   item_id   vendor  stock_count  purchase_id    price    revenge
6   382043  Samsung           77        145.0  67500.0  5197500.0

#### Задание 5

In [33]:
sale['revenge'].sum()

19729490.0