In [1]:
import pandas as pd
ratings = pd.read_csv('ratings_example.txt', sep = '\t')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144

In [2]:
movies = pd.read_csv('movies_example.txt', sep = '\t')
movies.head()

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller
2       31                    Dangerous Minds (1995)                     Drama

In [20]:
left_s = pd.read_csv('left_side.txt', sep = ',')
right_s = pd.read_csv('right_side.txt', sep = ',')

In [22]:
left_s.merge(right_s, how='left', on='id')

   id   Points                 Name
0   1       25         Vasya Pupkin
1   2       78   Alexander Samokhin
2   3       55                  NaN
3   4       99                  NaN
4  10      101                  NaN
5  13       56        Gleb Mysyukov