In [1]:
import pandas as pd
dfr = pd.read_csv('ratings.csv')

In [2]:
dfr.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [5]:
dfr[dfr['rating'] == 0.5].count()

userId       1370
movieId      1370
rating       1370
timestamp    1370
dtype: int64

In [3]:
dfm = pd.read_csv('movies.csv')

In [4]:
dfm.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
dfr.merge(dfm, on='movieId', how='outer').describe()

              userId        movieId         rating     timestamp
count  100836.000000  100854.000000  100836.000000  1.008360e+05
mean      326.127564   19435.051728       3.501557  1.205946e+09
std       182.618491   35528.850950       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8128.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [8]:
dfm[dfm['movieId'] == 3456]

      movieId                                         title genres
2587     3456  Color of Paradise, The (Rang-e khoda) (1999)  Drama

In [9]:
dfr[dfr['movieId'] == 3456]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []