# Загрузка Pandas и очистка данных

In [1]:
import pandas as pd
import numpy as np
import re
df = pd.read_csv('main_task.csv')

In [12]:
#dummy based on price range

t1 = pd.get_dummies(df['Price Range'])
t1.columns=['low', 'mean', 'high']

In [13]:
t1.head()

   low  mean  high
0    0     1     0
1    0     0     0
2    0     0     1
3    0     0     0
4    0     1     0