# Загрузка Pandas и очистка данных

In [13]:
import pandas as pd
df = pd.read_csv('main_task.csv')

In [14]:
# Ваш код по очистке данных и генерации новых признаков
# При необходимости добавьте ячейки

X = df.drop(['Reviews', 'URL_TA', 'ID_TA', 'Rating'], axis=1)

list_city = list(X['City'].unique())
dict_city = {}
for each in list_city:
    dict_city[each] = len(dict_city)

X['City'] = X['City'].apply(lambda x: dict_city[x])
X['Restaurant_id'] = X['Restaurant_id'].apply(lambda x: int(str(x)[3:]))
X = X.fillna(0)

In [10]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  int64
 1   City               40000 non-null  int64
 2   Cuisine Style      40000 non-null  object
 3   Ranking            40000 non-null  float64
 4   Price Range        40000 non-null  object
 5   Number of Reviews  40000 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 1.8+ MB

In [16]:
X = X.drop(['Cuisine Style', 'Price Range'], axis=1)

In [17]:
X.head()

   Restaurant_id  City  Ranking  Number of Reviews
0           5569     0   5570.0              194.0
1           1535     1   1537.0               10.0
2            352     2    353.0              688.0
3           3456     3   3458.0                3.0
4            615     4    621.0               84.0

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [18]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
y = df['Rating']

In [19]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [20]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [21]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [22]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [23]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.2203475

In [24]:
X.head()

   Restaurant_id  City  Ranking  Number of Reviews
0           5569     0   5570.0              194.0
1           1535     1   1537.0               10.0
2            352     2    353.0              688.0
3           3456     3   3458.0                3.0
4            615     4    621.0               84.0