In [1]:
import pandas as pd
import numpy as np
df_user = pd.read_csv('users.csv', header=None, encoding='koi8-r')
df_log = pd.read_csv('log.csv', header=None)
df_log.columns = ['user_id','time','bet','win']

In [13]:
s = df_log.time.isna()

In [18]:
s[s == True].count()

15

In [30]:
df_log.time.count()

985

In [19]:
df_log_na = df_log.dropna(axis=1)

In [23]:
len(df_log_na.columns)

1

In [31]:
df_log_drop_rows = df_log.dropna(axis=0)
df_log_drop_rows.count()

user_id    133
time       133
bet        133
win        133
dtype: int64

In [3]:
list_to_drop = ['user_id', 'time']
df_log.drop(df_log[list_to_drop].apply(lambda x: x.name if x.isna().any() else None), axis=1, errors='ignore')

                              user_id      bet      win
0    Запись пользователя № - user_919      NaN      NaN
1    Запись пользователя № - user_973      NaN      NaN
2    Запись пользователя № - user_903      NaN      NaN
3    Запись пользователя № - user_954      NaN      NaN
4    Запись пользователя № - user_954      NaN      NaN
..                                ...      ...      ...
995  Запись пользователя № - user_984   9754.0      NaN
996                            #error  10054.0  29265.0
997                            #error  10454.0      NaN
998                            #error   1000.0      NaN
999                            #error  10754.0      NaN

[1000 rows x 3 columns]