In [12]:
import pandas as pd
import numpy as np
df_user = pd.read_csv('users.csv', header=None, encoding='koi8-r')
df_log = pd.read_csv('log.csv', header=None)
df_log.columns = ['user_id','time','bet','win']

In [13]:
df_log.bet.fillna(0, inplace=True)

In [14]:
df_log.bet.value_counts()

0.0          515
500.0         50
100.0         48
300.0         42
800.0         42
200.0         40
400.0         40
700.0         38
600.0         37
1000.0        37
900.0         30
9754.0        10
10554.0       10
10154.0        7
10254.0        7
10454.0        6
9954.0         6
10754.0        5
10654.0        5
10354.0        4
10054.0        4
9854.0         2
5000.0         1
27000.0        1
9876.0         1
156789.0       1
12945.0        1
12548.0        1
145732.0       1
1678321.0      1
98753.0        1
123981.0       1
104540.0       1
8700.0         1
950.0          1
8734.0         1
7650.0         1
Name: bet, dtype: int64

In [18]:
df_log.apply(lambda x: -x.bet if x.win == np.NaN else x.win, axis=1)

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
        ...
995        NaN
996    29265.0
997        NaN
998        NaN
999        NaN
Length: 1000, dtype: float64

In [34]:
df_log.win = df_log.apply(lambda x: x.win if not pd.isna(x.win) else (0 if x.bet == 0 else -x.bet), axis=1)

In [38]:
df_log.win[df_log.win<0].count()

347